In [2]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [3]:
df = pd.read_csv('data/stud.csv')

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
x=df.drop(columns=['math score'],axis=1)

In [6]:
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
y=df['math score']

In [8]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [9]:
num_features=x.select_dtypes(exclude='object').columns
cat_features=x.select_dtypes(include='object').columns

In [10]:
print(list(num_features))
print(cat_features)

['reading score', 'writing score']
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course'],
      dtype='object')

In [11]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

preprocesser=ColumnTransformer(
    [
    ('standardscaler',StandardScaler(),num_features),
    ('cat_onehot',OneHotEncoder(),cat_features)
    ]
)

In [12]:
pre_df=preprocesser.fit_transform(x)

In [13]:
pre_df[1]

array([1.42747598, 1.31326868, 1.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 1.        , 1.        , 0.        ])

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(pre_df,y,test_size=0.3,random_state=42)

In [16]:
X_train.shape, X_test.shape

((700, 19), (300, 19))

In [17]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [18]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [21]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_precit=model.predict(X_train)
    y_test_precit=model.predict(X_test)

    model_train_mae,model_train_rmse,model_train_resqure = evaluate_model(y_train,y_train_precit)
    model_test_mae,model_test_rmse,model_test_resqure = evaluate_model(y_test,y_test_precit)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_resqure))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_resqure))
    r2_list.append(model_test_resqure)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.2483
- Mean Absolute Error: 4.1985
- R2 Score: 0.8751
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5576
- Mean Absolute Error: 4.4183
- R2 Score: 0.8759
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5106
- Mean Absolute Error: 5.1582
- R2 Score: 0.8078
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.8705
- Mean Absolute Error: 5.3929
- R2 Score: 0.8103
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.2487
- Mean Absolute Error: 4.1977
- R2 Score: 0.8751
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5566
- Mean Absolute Error: 4.4155
- R2 Score: 0.8759
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.6838
- Mean Absolute Error: 4.5089
- R2 Score: 0.8535
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.5298
- Mean Absolute Error: 5.8407
- R2 Score: 0.7721
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.2988
- Mean Absolute Error: 0.0214
- R2 Score: 0.9996
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.3257
- Mean Absolute Error: 6.6700
- R2 Score: 0.7214
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.3227
- Mean Absolute Error: 1.8304
- R2 Score: 0.9755
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1437
- Mean Absolute Error: 4.8652
- R2 Score: 0.8483
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.8957
- Mean Absolute Error: 0.5657
- R2 Score: 0.9964
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.8570
- Mean Absolute Error: 5.4629
- R2 Score: 0.8110
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9221
- Mean Absolute Error: 2.2890
- R2 Score: 0.9613
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.0661
- Mean Absolute Error: 4.7633
- R2 Score: 0.8521
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8151
- Mean Absolute Error: 4.7328
- R2 Score: 0.8467
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3806
- Mean Absolute Error: 4.9809
- R2 Score: 0.8364
===================================